
.NavCreators{
    display: none;
    overflow: scroll;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    padding: 1%;
    background: #292d3c;
    position: fixed;
    z-index: 20;
}
@media(max-width:775px){
    .NavCreators{
        width: 200px;
        display:block;
    }
    .creatorcart{
        width: 80%;
    }
    img.imgCreator{
        width: 50px;
        height: 50px;
    }
}
.Creators{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 21rem));
    grid-gap: 2rem 0.2rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.postNum{
    font-size: larger;
    font-family: 'FontAwesome';
    color: white;
}
.CreatorName{
    color: #6893bf;
    font-family: fantasy;
}
.imgCreator{
    width: 70px;
    height: 70px;
    object-fit:contain;
}
hr.hrCreator{
    width: 2px;
    height: 30px;
    background: #ffff;
    opacity: 1;
}
.clasemnetCreators{
    background: #253b5c;
    width: max-content;
    min-width: 30px;
    text-align: center;
    padding: 0.4%;
    font-family: 'FontAwesome';
    font-size: 12px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-8px, -10px);
}
.creatorcart{
    font-size: larger;
    padding: 1%;
    border-radius:1rem ;
}
.creatorcart:hover{
    background: #3b5a819d;
    scale: 0.95;
}